<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button" class="btn btn-primary btn-lg mks-padding"
                onclick="location.href='@Url.Action("Index", "Rooms")'">
            Rooms Manager
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button" class="btn btn-primary btn-lg mks-padding"
                onclick="location.href='@Url.Action("Index", "Schedule")'">
            Schedule Manager
        </button>
    </div>
</div>
